body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightskyblue;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.recipe {
    background-color: lightgreen;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.recipe h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.recipe p {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-top: 5px;
    animation: fadeInUp 1s ease-in-out;
}

#search-recipe {
    text-align: center;
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out;
}

#add-recipe-form {
    margin-bottom: 20px;
    animation: slideInRight 1s ease-in-out;
}

#add-recipe-form label {
    display: block;
    margin-bottom: 5px;
}

#add-recipe-form input[type="text"],
#add-recipe-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#add-recipe-form button {
    display: block;
    margin: 0 auto;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifs;
}

#search-recipe {
    text-align: center;
    margin-bottom: 20px;
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    padding: 8px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    width: 300px;
}

#search-input:focus {
    outline: none;
    border-color: #007bff;
}

#search-input::placeholder {
    color: #aaa;
}

#search-input:focus::placeholder {
    color: transparent;
}

#pesquisa {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pesquisa:hover {
    background-color: #0056b3;
}

#eu {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #linkedin {
        position: absolute;
        width: 40px;
        top: 2500px;
        left: 30px;
    }

    #ista {
        position: absolute;
        width: 40px;
        top: 2500px;
        right: 30px;
    }
}
